body{
    margin: 0;
    height: 100vh;

}
.container{
    border: 1px solid black;
    width: fit-content;
    margin: 0 auto;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

}
.calc-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex:1;
    margin: 5px auto;
    border: 1px solid black;
    padding: 10px;

}

.calc-header{
    border: 1px solid black;
    flex: 1;
    width: 400px;
    padding: 20px 0 10px 0;
    margin-bottom: 10px;
    margin-left: auto;
    text-align: end;
}

.calc-body{
    border: 1px solid black;
    width: 400px;
    height: 600px;
    display: flex;
    flex-direction: column;   
    border-radius: 8px;
    flex: 1;
}

.body-content{
    display: flex;
    flex-direction: column;
}

.card-container{
    display: flex;
    justify-content: center;
    margin: 5px;
}

.cards{
    padding: 10px;
    flex: 1;
    border: 1px solid black;
    text-align: center;
    margin: 0 2px;
    transition: all .6s ease;
    border-radius: 2px;
}

.disabled{
    background-color: brown;
    color: white;
    pointer-events: none;
}

.selected{
    background-color: midnightblue;
    color: white;
}